@media screen and (max-width: 768px){
    .navBurger {
        z-index: 1;
        display: block;
        margin-right: 20px;
        cursor: pointer;
        background: #111;
        box-sizing: border-box;
        background-clip: content-box;
        width: 30px;
        height: 25px;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:before,
        &:after {
        content: "";
        position: absolute;
        background: #111;
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:before {
        top: -10px;
        width: 90%;
    }
    &:after {
        bottom: -10px;
        width: 80%;
    }
    &.active {
      background: transparent;
      background-clip: content-box;
    }
    &.active:before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 0;
        width: 110%;
    }
    &.active:after {
        bottom: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        width: 110%;
    }
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: 1;
  &.open {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      li {
          display: flex;
          justify-content: center;
          align-items: center;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
          forwards;
          animation-delay: 0.4s;
          transform: rotate(-7deg);
          transform-origin: right bottom;
          &:nth-of-type(2) {
              animation-delay: 0.5s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.6s;
            }
            &:nth-of-type(4) {
                animation-delay: 0.7s;
            }
            &:nth-of-type(5) {
                animation-delay: 0.8s;
            }
        }
    }
}

.overlayMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    ul {
        list-style: none;
        padding: 0;
        display: block;
        position: relative;
        height: 100%;
      li {
          display: block;
          position: relative;
          opacity: 0;
          width: 100%;
          a {
              font-family: PTMono-Regular;
              letter-spacing: 0.15em;
              display: inline-block;
              color: #000;
              text-decoration: none;
              font-size: 30px;
              padding: 10px 40px 10px 40px;
              margin: 5px 0;
              transition: 0.2s;
              &:hover,
              &:active,
              &:focus {
                  transform: translateX(-2px);
                  padding-left: 80px;
                  border: 1px solid rgba(255, 255, 255, 1);
              }
            }
        }
    }
}
}

.locked {
    overflow: hidden;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}