.content{
  display: flex;
  justify-content: space-between;
}
.content4{
  display: flex;
  height: 83vh;
  justify-content: space-between;
}
form{
  width: 450px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: PTMono-Regular;
  align-items: center;
}
input, textarea{
  background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
  margin-bottom: 38px;
  border: 1px solid #000000;
}
.classic-row{
  width: 530px;
  height: 40px;
}
.message-row{
  width: 530px;
  height: 212px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-for-input{
  align-self: flex-start;
  margin-bottom: 25px;
}
input[type = submit]{
  width: 50%;
  height: 50px;
  cursor: pointer;
}
.branch{
  display: flex;
  align-self: flex-start;
  width: 476px;
  height: 272px;
}
.siluet{
  width: 407px;
  height: 447px;
  display: flex;
  align-self: flex-end;
  margin-left: 26px;
}

@media screen and (max-width: 1024px){
  input, textarea{
    margin-bottom: 38px;
  }
  .classic-row{
    width: 378px;
    height: 28px;
  }
  .message-row{
    width: 378px;
    height: 149px;
  }
  .text-for-input{
    margin-bottom: 17px;
  }
  .branch{
    width: 330px;
    height: 188px;
  }
  .siluet{
    width: 285px;
    height: 311px;
  }
}

@media screen and (max-width: 768px){
  .content{
    justify-content: space-around;
  }
  form{
    width: 80%;
    padding: 0 10%;
    font-size: 18px;
    text-align: center;
  }
  input, textarea{
    margin-bottom: 5%;
  }
  .classic-row{
    width: 100%;
    height: 27px;
  }
  .message-row{
    width: 100%;
    height: 189px;
  }
  .text-for-input{
    margin-bottom: 2%;
  }
  .branch{
    display: none;
  }
  .siluet{
    display: none;
  }
}