@font-face {
  font-family: Revalia;
  src: url(../fonts/Revalia/Revalia-Regular.ttf);
}
@font-face {
  font-family: PTMono-Regular;
  src: url(../fonts/PTMono/PTMono-Regular.ttf);
}
@font-face {
  font-family: PTMono-Bold;
  src: url(../fonts/PTMono/PTMono-Bold.ttf);
}

body{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 78.71px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: 47px;
  font-size: 50px;
  font-family: Revalia;
  text-decoration: none;
  z-index: 1000;
}
.nav{
  display: flex;
  flex-direction: row;
  width: 570px;
  height: 78.71px;
  justify-content: space-between;
  font-family: PTMono-Regular;
  font-size: 24px;
  align-items: center;
  margin-right: 61px;
}
.navBurger, .overlay{
  display: none;
}
.logo a, .nav a{
  color: #000;
  text-decoration: none;
}
.footer{
  width: 100%;
  height: 80px;
  background-color: #fff;
}
.foto{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 200px;
}
.footer img{
  width: 48px;
  height: 40px;
}
@media screen and (max-width: 1024px){
  .footer{
    padding: 0 200px;
  }
}
@media screen and (max-width: 768px){
  .header{
    height: 49.19px;
  }
  .logo{
    font-size: 34px;
    height: 100%;
    margin-left: 18px;
  }
  .nav{
    display: none;
  }
  .footer{
    padding: 0 50px;
    height: 50px;
  }
  .footer img{
    width: 20px;
    height: 20px;
  }
}