.content{
  display: flex;
  flex-direction: column;
}
.aboutUs{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.aboutUs img{
  width: 100%;
  height: 100%;
}
.regform{
  max-width: 530px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.tetka{
  width: 100%;
}
.reg{
  font-family: PTMono-Bold;
  font-size: 36px;
}
.inputreg{
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
}
.inputsub{
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
}
.content2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
}
.subbb{
  width: 100%;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.formareg{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  height: 425px;
  font-size: 24px;
  font-family: PTMono-Regular;
}
.text{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 600px;
  text-align: center;
  margin-top: 413px;
  margin-right: 70px;
  font-size: 1.5vw;
}
.text .up{
  font-family: PTMono-Bold;
}
.text .down{
  margin-top: 30px;
  font-family: PTMono-Regular;
}
.team{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 924px;
}
.ol{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 924px;
}
.ol img{
  display: flex;
  width: 809px;
  height: 807px;
}
.team .team-text{
  line-height: 46px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: PTMono-Regular;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px){
  .text, .team-text span{
    font-size: 21px;
  }
  .text{
    width: 430px;
    margin-top: 190px;
    margin-right: 48px;
    font-size: 2vw;
  }
  .text .down{
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px){
  html{
    width: 100%;
    height: auto;
  }
  .aboutUs .text{    
    width: 70%;
    font-size: calc(2.9vw + 2px);
  }
  .aboutUs img{
    width: auto;
    height: 700px;
  }
  .ol{
    align-items: flex-start;
    width: 0%;
    margin-top: 77px;
  }
  .ol img{
    position: absolute;
    width: auto;
    height: 40vh;
    z-index: -1;
    margin-left: 180px;
  }
  .team .team-text{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: flex-start;
  }
  .team{
    height: 590px;
    justify-content: center;
  }
  .team-text span{
    display: flex;
    margin-top: 0;
    z-index: 0;
    font-size: 18px;
    line-height: 42px;
  }
  
}