.content{
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-image: url("../images/cat.png");
  background-repeat: no-repeat;
  background-position: left 90%;
  background-position-x: 2%;
  background-attachment: fixed;
}
.column{
  display: flex;
  flex-basis: 300px;
  flex-grow: 0;
  flex-direction: column;
  font-family: PTMono-Regular;
}
.text{
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #333333;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.text span{
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.15em;
}
.card{
  width: 300px;
  height: auto;
  margin-top: 10px;
}
.card img{
  width: 100%;
  height: auto;
}
.under-card-text{
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  text-align: center;
  height: auto;
  justify-content: center;
  color: #fff;
  background-color: #333333;
  line-height: 15px;
}
.under-card-text span{
  margin: 2px 0;
}
.cat{
  display: flex;
  width: 116px;
  height: 132px;
  position: fixed;
}

@media screen and (max-width: 1024px){
  .column{
    display: flex;
    flex-basis: 190px;
    width: 190px;
    flex-grow: 0;
    flex-direction: column;
    font-family: PTMono-Regular;
  }
  .card{
    width: 100%;
    height: auto;
  }
  .card img{
    width: 100%;
    height: auto;
  }
  .cat{
    width: 78px;
    height: auto;
  }
}

@media screen and (max-width: 700px){
  .content{
    flex-direction: column;
  }
  .column{
    flex-basis: 340px;
    width: 340px;
    align-self: center;
    margin-top: 10px;
  }
  .content{
    background-image: none;
  }
}